.new-tweet-form{
  width: 90%;
  /* align-items: center; */
  flex-direction: row;
}

#tweet-text{
  display:flex;
  width: 100%;
  background-color: #f4f1ec;
  border: none;
}

/* #tweet-input-box{
  display:flex;
  width: 100%;
  background-color: #f4f1ec;
  border: none;
} */
/* .new-tweet-text{
  border-bottom: 0.1rem solid #11161a;
  
} */
.error-message-max-length{
  display:flex;
  align-items: center;
  justify-content:center;
  color:red;
}
.tweet-form{
  justify-content: center;
}

.tweet-button{ 
  font-family: "Bungee";
  color: white;
  background-color:#205b80;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
/* .tweet-button {
  display:flex;
  justify-content: left;
}
.counter {
  display: flex;
  justify-content: right;
} */

.tweet-button-counter{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
#tweets-container{
  width: 90%;
}
.rhoda-tweets {
  border-style: solid;
  border-width: thick;
  border-radius: 10px;
  flex-direction: row;
  font-family: sans-serif;
  margin-bottom: 20px;
  padding : 2%;
}
.rhoda-tweets:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 7px 17px;
}
.rhoda-tweets-form{
  margin: 10px
}
.rhoda-tweets-header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#rhoda-tweets-icon {
  margin-right: 5px;
}

.mrsjacobs{
  color:#93999d;
}
.icon{
  color: #354869;
}
.icon:hover {
  color: burlywood;
}
.rhoda-tweets-details{
  align-items: center;
  display: flex;
  justify-content:space-between;
}
.rhoda-tweets-user {
  display: flex;
  align-items: center;
}
.rhoda-tweets-avatar{
  margin:10px;
}
.rhoda-tweets-text {
  display: flex;
  align-items: center;
  width: 90%;
  word-break: break-word;
}
.rhoda-tweets-day {
  margin: 10px;
}